$red: #d73f4c;
$red-dark: #943037;
$red-light: #f9e0e5;

$yellow: darken(#fee44a, 20%);
$yellow-dark: #d8a352;
$yellow-light: #fdf9f1;

$green: #419f5b;
$green-dark: #3f7c52;
$green-light: #ebf3f1;

$blue: #394a8b;
$blue-dark: #2d2e4b;
$blue-light: #e4e0f2;

$gray-dark: #444444;
$gray: #999999;
$gray-light: #e3e3e3;
$black: #000000;
$white: #ffffff;